.table-bordered {
    width: 100%;
    border: 1px solid #dee2e6;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
    padding: 0.50rem;
    vertical-align: top;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }
  .table-hover tbody tr:hover {
    background-color: #f5f5f5;
  }